* {
    margin: 0;
    padding: 0;
   color: white;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
}

:root {
    --primary-color :#fcfaf8;
}

body {
    overflow: hidden;
    background: #4CB8C4;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #3CD3AD, #4CB8C4);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #3CD3AD, #4CB8C4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


h1 {
    text-align: center;
    background-color: #1e1e2e;
    width: 20rem;
    padding: 10px;
    margin: auto;
}

.container {
    display: grid;
    grid-template-columns: 0.2fr 1fr;
    grid-template-rows: 0.9fr 0.9fr;
}



#sidebar {
    display: grid;
    grid-template-rows: 0.3fr 1fr;
    border: 2px solid black;
    height: 100vh;
    background-color: #1e1e2e; /* Dark background */
    padding: 10px;
    
}


#name {
   display: flex;
   flex-direction: row;
   gap: 10px;
}


#myName {
   margin-top: 0.7rem;
   font-weight: 800;
}

#edit-name-button {
    background-color: black;
    width: 5rem;
    height: 2rem;
    margin-top: 5px;
    border-radius: 10px;
}

img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

#my-projects {
    margin-left: 1rem;
    font-weight: 800;
    font-size: 1.5rem;
}


#add-project-button {
    background-color: green;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid green;
    cursor: pointer;
    font-weight: 800;
    font-size: 30px;
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center;     /* Centers vertically */;
    margin: auto;
};

.project-nav-element {
    display: flex;
    flex-direction: row;

}

.new-project-div {
    background-color: gray;
    padding: 1rem;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    margin-left: 1rem;
}


.new-project-div:hover {
    background-color: darkgray;
    transition: 400ms;
    cursor: pointer;
}

.project-del-button {
    background-color: red;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 5px solid red;
    cursor: pointer;
}



.project-nav-element-small {
    display: flex;
    flex-direction: row;
}



#project-form {
    position: absolute;
    visibility: hidden;
    left: 40vw;
    top: 25vh;
    background-color: black;
    padding: 3rem;
    box-shadow: 0 0 10px 500vw rgba(0, 0, 0, 0.6);
}


#project-name-input {
     color: black;
}


#content {
    border: 2px solid black;
    height: 100vh;
    background-color: gray;
   
}


h2 {
    text-align:  start;
    padding: 10px;
    margin: 10px;
    margin-top:  50px;
    background-color: #1e1e2e; /* Dark background */
    color: #f4f4f9; /* Light text color */
}