:root {
  --primary-color: orangered;
  --secondary-color: #282828;
  --tertiary-color: #1e1e1e;
}

* {
  padding: 0;
  font-family: 'comic sans ms', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-sizing: border-box;
  color: white;
  font-weight: 400;
}

*:not(dialog) {
  margin: 0;
}

body ::selection {
  background: var(--primary-color);
  color: white;
}

#main-container {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: 0.2fr 1fr;
  grid-template-rows: 1fr;
}

#sidebar {
  background-color: var(--secondary-color);
}

#content {
  background-color: var(--tertiary-color);
}

#logo-div {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
}

#logo-image {
  margin-top: 10px;
  height: 40%;
  width: 40%;
  margin-bottom: calc(1rem + 15px);
}

#project-label {
  font-size: 15px;
  font-weight: 400;
  color: white;
  background-color: #afb3ac41;
  padding: 10px;
  border-radius: 8px;
}

.sidebar-elements {
  margin: 15px;
}

#add-project-div {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  gap: 5px;
  cursor: pointer;
}

#add-project-button-text {
  color: var(--primary-color);
  font-weight: 600;
}

#add-project-icon {
  color: var(--primary-color);
}

.project-instances {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border-radius: 8px;
  gap: 8px;
}

.project-icon-text-div {
  display: flex;
  align-items: center;
  gap: 8px;
}

.project-instances:hover {
  background-color: #4b4c4a;
  transition: 300ms;
  cursor: pointer;
}

.project-instance-text {
  font-size: 15px;
}

.orange-circle {
  background-color: var(--primary-color);
  border-radius: 50%;
  height: 11px;
  width: 11px;
}

.content-elements {
  margin-left: 10vw;
  display: flex;
  gap: 40px;
  align-items: center;
}

.add-todos-button {
  margin-top: 4px;
}

#current-project-heading {
  font-weight: 800;
  font-size: 45px;
  margin-top: 50px;
  color: var(--primary-color);
  margin-bottom: 55px;
}

.todo-checkbox-title-div {
  display: flex;
  gap: 10px;
  align-items: center;
  width: 350px;
}

.todos-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.277);
  padding-bottom: 15px;
  padding-left: 10px;
  width: 70%;
  margin-bottom: 25px;
}

.todo-buttons-div {
  display: flex;
  align-items: center;
  gap: 25px;
}

.todo-buttons {
  cursor: pointer;
}

.todo-checkboxes {
  border: 3px solid var(--primary-color);
  border-radius: 50%;
  width: 22px;
  height: 22px;
  cursor: pointer;
}

.todo-checkboxes-filled {
  background-color: var(--primary-color);
}

.finished-todo {
  text-decoration: line-through;
}

.due-date-div {
  display: flex;
  align-items: start;
  justify-content: space-around;
  gap: 10px;
}

.due-date-text-striked {
  text-decoration: line-through;
}

#project-add-dialog {
  background-color: var(--tertiary-color);
  padding: 20px;
  box-shadow: 0 0 10px 500vw rgba(0, 0, 0, 0.6);
  border: 5px solid gray;
}

#project-add-dialog-pair-of-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  gap: 7px;
}

.save-button {
  background-color: var(--primary-color);
  padding: 2px;
  width: 100px;
  height: 35px;
  border-radius: 5px;
  font-weight: 400;
  cursor: pointer;
  border: 2px solid var(--primary-color);
}

.cancel-button {
  background-color: white;
  color: black;
  padding: 2px;
  width: 100px;
  height: 35px;
  border-radius: 5px;
  font-weight: 400;
  cursor: pointer;
  border: 2px solid white;
}

#text-input-project-title {
  padding-left: 5px;
  background-color: rgb(212, 208, 208);
  color: var(--primary-color);
  font-weight: 600;
  height: 26px;
}

#todo-add-dialog {
  background-color: var(--tertiary-color);
  padding: 15px;
  box-shadow: 0 0 10px 500vw rgba(0, 0, 0, 0.6);
  border: 5px solid gray;
}

.input-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 5px;
  margin-bottom: 10px;
}

.todo-add-inputs {
border-radius: 5px;
  width: 210px;
  height: 32px;
  background-color: rgb(212, 208, 208);
  color: var(--primary-color);
  padding-left: 5px;
  font-weight: 800;
}

#todo-add-buttons-div {
  margin-top: 10px;
  gap: 7px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.text-input {
  color: red;
}

.todo-list-higher-image {
  width: 65vw;
  height: 38vh;
  border-radius: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7vh;
}

#project-select-pop-up-div {
  display: flex;
  flex-direction: row;
  background-color: #333;
  color: white;
  width: 350px;
  top: 10px;
  padding: 20px;
  position: fixed;
  border-radius: 10px;
  box-shadow: 0 0 10px 500vw rgba(0, 0, 0, 0.6);
  align-items: center;
  justify-content: space-between;
}

.close-btn {
  align-self: center;
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 8px 12px;
  font-size: 10px;
  cursor: pointer;
  border-radius: 50%;
  align-self: flex-end;
}

#todo-edit-dialog {
  box-shadow: 0 0 10px 500vw rgba(0, 0, 0, 0.6);
  background-color: var(--tertiary-color);
  padding: 15px;
  border: 5px solid gray;
}

.todo-edit-input-divs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 7px;
}

.todo-edit-inputs {
  width: 240px;
  height: 30px;
  background-color: rgb(212, 208, 208);
  color: var(--primary-color);
  font-weight: 800;
  padding-left: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
}

#todo-edit-dialog-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 7px;
}
